[submodule "lib/SimpleKalmanFilter"]
	path = lib/SimpleKalmanFilter
	url = https://github.com/TeamSunride/SimpleKalmanFilter
[submodule "lib/Int64String"]
	path = lib/Int64String
	url = https://github.com/TeamSunride/Int64String
[submodule "lib/Vector"]
	path = lib/Vector
	url = https://github.com/TeamSunride/Vector
